{{ 'pageTemplate.css' | asset_url | stylesheet_tag }}
{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<style>
  .contact {
    margin-top: 2rem;
  }
  span.red {
    color: red !important;
}
  .form-group {
    margin-bottom: 20px;
  }
  select#inquiry option {
    color: black;
}
.form-group select {
    color: rgba(0,0,0,0.3);
}
.form-group.col-2 input::placeholder {
  color: rgba(0,0,0,0.3) !important;
  font-size: 12px;
}

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
    {% comment %} font-family: 'Sequel Sans Roman Disp'; {% endcomment %}
    font-style: normal;
    font-weight: 310;
    font-size: 14px;
    line-height: 22px;
    color: rgb(0 0 0);
    position: relative;
  }
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .form-group textarea {
    height: 120px;
  }

  .form-group input[type="submit"] {
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 20px;
    float: right;
    width: 20%;
    text-transform: uppercase;
  }

  .form-group.col-2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: calc(50% - 5px);
  }

  .form-group.col-2 input,
  .form-group.col-2 select {
    width: calc(100% - 5px);
  }
  .mainNameDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapperContact {
    padding-bottom: 8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }


  .order-inquireies {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 4rem;
  }
  .inquiryHeading {
    font-family: 'Sequel Sans Black Disp' !important;
    font-style: normal;
    font-weight: 435;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }
  .order-inquireies p {
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    font-family: 'Sequel Sans';
}
a.contactPhoneBtn p {
  color: white;
}
  .inquiryPara {
    font-family: 'Sequel Sans';
    font-style: normal;
    font-weight: 310;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
  }
  .timingHeading {
    font-family: 'Sequel Sans Heavy Disp' !important;
    font-style: normal;
    font-weight: 425;
    font-size: 14px;
    line-height: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 4rem;
  }
  .timing {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .day {
    font-family: 'Sequel Sans';
    font-style: normal;
    font-weight: 610;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
  }
  .time {
    font-family: 'Sequel Sans';
    font-style: normal;
    font-weight: 310;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
  }
  .wrapperContact input::placeholder {
    color: rgba(0,0,0,0.3) !important;
    font-size: 12px;
  }
  .form-group textarea::placeholder {
    color: rgba(0,0,0,0.3);
    letter-spacing: 0;
    font-size: 12px;
}
#ContactForm .form-group #message {
  font-family: Arial;
}
  .contactPhoneBtn {
    all: unset;
    width: 22%;
    background: black;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    margin-top: 4rem;
    cursor: pointer;
  }
  .contactLocations {
    padding-bottom: 8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .locationRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .columnLocation {
    width: 30%;
    margin: 0 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 130px;
    max-height: 126px;
    padding: 10px 15px;
  }
  .locCity {
    font-family: 'Sequel Sans Heavy Disp';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
  }
  .locContent {
    font-family: 'Sequel Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
  }
  @media(max-width: 768px) {
    .form-group.col-2 {
      flex-wrap: wrap;
    }
    .columnLocation {
      width: 47%;
    }
    .columnLocation {
      width: 47%;
      margin: 0 10px 10px 0;
      border: 1px solid rgba(0, 0, 0, 0.05);
      height: 140px;
      max-height: 140px;
      padding: 10px 15px;
    }
    .form-group.col-2 input,
    .form-group.col-2 select {
      width: 100%;
    }
  }
</style>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}
<div class="mainPageWrapper">
  <div class="mainFlexWrapper">
    <div class="navigationPageTemp contentHeight">
      <div class="menuWrapper">
        <div class="titleWrapper">
          <h3 class="menuHeading">Customer Care</h3>
          <div onclick="mobileCaret()" class="mobile-only iconHeader">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="8"
              viewBox="0 0 12 8"
              fill="none">
              <path
                d="M0.400391 0.959993L5.92923 7.19922L11.6004 0.799221"
                stroke="black"
                stroke-width="0.784409" />
            </svg>
          </div>
        </div>
        <div class="meniItemWrapper">
          <a style="all:unset;cursor:pointer" href="/pages/faqs">
            <p class="menuITEM">Faqs</p>
          </a>
          <a style="all:unset;cursor:pointer" href="/pages/contact-us">
            <p class="menuITEM active">Contact Us</p>
          </a>
          <a style="all:unset;cursor:pointer" href="/pages/track-your-order">
            <p class="menuITEM">TRACK YOUR ORDER</p>
          </a>
          <a style="all:unset;cursor:pointer" href="/pages/shopify-store-locator">
            <p class="menuITEM">Store Locator</p>
          </a>
          <a style="all:unset;cursor:pointer" href="/pages/return-and-exchange">
            <p class="menuITEM">Returns</p>
          </a>
          <a style="all:unset;cursor:pointer" href="/pages/shipping">
            <p class="menuITEM">Shipping</p>
          </a>
          <a style="all:unset;cursor:pointer" href="/pages/terms-of-use">
            <p class="menuITEM">Terms & Conditions</p>
          </a>
          <a style="all:unset;cursor:pointer" href="/pages/privacy-policy">
            <p class="menuITEM">Privacy Policy</p>
          </a>
        </div>
      </div>
    </div>

    <div class="contentPageTemp contentHeight">

      <div class="page-tite-cstm">
        <h3>{{ section.settings.heading }}</h3>
      </div>

      <div class="content-for-page-layout">
        <div class="wrapperContact">
          <div class="contact">
            {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
              {%- if form.posted_successfully? -%}
                <p
                  class="form-status form-status-list form__message"
                  tabindex="-1"
                  autofocus>
                  {% render 'icon-success' %}
                  {{ 'templates.contact.form.post_success' | t }}
                </p>
              {%- elsif form.errors -%}
                <div class="form__message">
                  <p
                    class="form-status caption-large text-body"
                    role="alert"
                    tabindex="-1"
                    autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' | t }}
                  </p>
                </div>
                <ul class="form-status-list caption-large" role="list">
                  <li>
                    <a href="#ContactForm-email" class="link">
                      {{ form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}
                    </a>
                  </li>
                </ul>
              {%- endif -%}
              <div class="mainNameDiv">
                <div class="form-group col-2">
                  <label for="first_name">First Name <span class="red">*</span></label>
                  <input
                    type="text"
                    id="first_name"
                    name="contact[first_name]"
                    placeholder="Your First Name"
                    pattern="^[A-Za-z0-9\s,.']+$"
                    maxlength="25"
                    title="Only english language accepted. Do not use special tags"
                    oninvalid="this.setCustomValidity('Only english language accepted. Do not use special tags')"
                    oninput="this.setCustomValidity('')"
                    required>
                </div>
                <div class="form-group col-2">
                  <label for="last_name">Last Name <span class="red">*</span></label>
                  <input
                    type="text"
                    id="last_name"
                    name="contact[last_name]"
                    placeholder="Your Last Name"
                    pattern="^[A-Za-z0-9\s,.']+$"
                    maxlength="25"
                    title="Only english language accepted. Do not use special tags"
                    oninvalid="this.setCustomValidity('Only english language accepted. Do not use special tags')"
                    oninput="this.setCustomValidity('')"
                    required>
                </div>
              </div>

              <div class="mainNameDiv">
                <div class="form-group col-2">
                  <label for="email">Email <span class="red">*</span></label>
                  <input
                    type="email"
                    id="email"
                    name="contact[email]"
                    placeholder="Your Email"
                    pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                    title="Please enter a valid email address"
                    oninvalid="this.setCustomValidity('Please enter a valid email address')"
                    oninput="this.setCustomValidity('')"
                    required>
                </div>
                <div class="form-group col-2">
                  <label for="phone">Phone <span class="red">*</span></label>
                  <input
                    type="tel"
                    id="phone"
                    name="contact[phone]"
                    placeholder="e.g. +971502111111"
                    pattern="^\+971\d{9}$"
                    title="Please enter a valid UAE mobile number e.g. +971502111111"
                    oninvalid="this.setCustomValidity('Please enter a valid UAE mobile number e.g. +971502111111')"
                    oninput="this.setCustomValidity('')"
                    maxlength="13"
                    required>
                </div>
              </div>


              <div class="form-group">
                <label for="order_number">Order Number <span class="red"></span></label>
                <input
                  type="text"
                  id="order_number"
                  name="contact[order_number]"
                  placeholder="Your Order Number"
                  {% comment %} pattern="^EW\d+" 
                  title="Order number must start with 'EW' followed by numbers only"
                  oninvalid="this.setCustomValidity('Order number must start with 'EW' followed by numbers only')"
                  oninput="this.setCustomValidity('')" {% endcomment %}
                  maxlength="12"
                  >
              </div>
              <div class="form-group">
                <label for="inquiry">Inquiry type <span class="red">*</span></label>
                <select
                  id="inquiry"
                  name="contact[inquiry]"
                  required>
                  <option value="">Select an inquiry type</option>
                  <option value="General">General</option>
                  <option value="Order Issue">Order Issue</option>
                  <option value="Product Inquiry">Product Inquiry</option>
                  <option value="Complaint">Complaint</option>
                </select>
              </div>
              <div class="form-group">
                <label for="message">Your Message <span class="red">*</span></label>
                <textarea
                  id="message"
                  name="contact[message]"
                  placeholder="Enter your message"
                  pattern="^[A-Za-z0-9\s,.']+$"
                  title="Only english language accepted. Do not use special tags"
                  oninvalid="this.setCustomValidity('Only english language accepted. Do not use special tags')"
                  oninput="this.setCustomValidity('')"
                  required></textarea>
              </div>
              <div class="form-group">
                <input
                  class="cstmBtnBlack"
                  type="submit"
                  value="Submit">
              </div>
            {%- endform -%}
          </div>
        </div>

        <div class="order-inquireies">
          <h3 class="inquiryHeading">{{ section.settings.heading2 }}</h3>
          <p class="inquiryPara">{{ section.settings.inquiryPara1 }}</p>
          <p class="inquiryPara">{{ section.settings.inquiryPara2 }}</p>
          <div class="storeTiming">
            <h3 class="timingHeading">{{ section.settings.storetiming }}</h3>
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when 'timing' -%}
                <div class="timing">
                  <p class="day">{{ block.settings.days }}</p>
                  <p class="time">{{ block.settings.timing }}</p>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
          <a class="contactPhoneBtn" href="{{section.settings.storetimingUrl}}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <path d="M11.5098 15.188C5.47852 15.188 0.572266 10.2817 0.572266 4.2505C0.573544 3.26255 0.9341 2.30879 1.5867 1.56707C2.2393 0.825347 3.1394 0.346297 4.11914 0.219248C4.32073 0.195751 4.52454 0.23776 4.70041 0.339061C4.87628 0.440362 5.01488 0.595577 5.0957 0.781748L6.66602 4.44581C6.72681 4.58799 6.75149 4.743 6.73786 4.89703C6.72423 5.05106 6.67271 5.19933 6.58789 5.32862L5.29102 7.313C5.26062 7.35722 5.24245 7.40869 5.23834 7.46219C5.23422 7.51569 5.24431 7.56933 5.26758 7.61769C5.88333 8.8809 6.90731 9.89938 8.17383 10.5083C8.22078 10.5317 8.27322 10.5419 8.32552 10.5378C8.37781 10.5336 8.428 10.5154 8.4707 10.4849L10.4316 9.18019C10.5609 9.0921 10.7103 9.03805 10.8659 9.02302C11.0216 9.008 11.1786 9.0325 11.3223 9.09425L14.9785 10.6646C15.1647 10.7454 15.3199 10.884 15.4212 11.0599C15.5225 11.2357 15.5645 11.4395 15.541 11.6411C15.414 12.6209 14.9349 13.521 14.1932 14.1736C13.4515 14.8262 12.4977 15.1867 11.5098 15.188ZM4.23633 0.836436H4.19727C3.36806 0.944518 2.60647 1.35049 2.05449 1.97865C1.50251 2.60681 1.19784 3.41428 1.19727 4.2505C1.19933 6.98491 2.28649 9.60673 4.22001 11.5403C6.15353 13.4738 8.77535 14.5609 11.5098 14.563C12.346 14.5624 13.1535 14.2577 13.7816 13.7058C14.4098 13.1538 14.8157 12.3922 14.9238 11.563C14.9303 11.4957 14.9148 11.428 14.8796 11.3703C14.8444 11.3125 14.7914 11.2677 14.7285 11.2427L11.0723 9.67237C11.0247 9.65127 10.9727 9.64236 10.9209 9.64645C10.869 9.65055 10.819 9.66751 10.7754 9.69581L8.82227 11.0005C8.68809 11.0916 8.53241 11.146 8.37069 11.1584C8.20897 11.1707 8.04683 11.1405 7.90039 11.0708C6.51033 10.3971 5.38555 9.27786 4.70508 7.89112C4.63574 7.74495 4.60508 7.58344 4.61602 7.42203C4.62696 7.26062 4.67915 7.10472 4.76758 6.96925L6.06445 4.98487C6.09343 4.94153 6.11081 4.89147 6.11491 4.83949C6.11902 4.78752 6.10971 4.73535 6.08789 4.688L4.51758 1.03175C4.49566 0.974761 4.45713 0.925672 4.40698 0.890846C4.35684 0.85602 4.29738 0.837064 4.23633 0.836436Z" fill="white" />
            </svg>
            <p class="btnTxt">{{ section.settings.storetimingBtn }}</p>
          </a>



        </div>

        <div class="contactLocations">
          <h3 class="inquiryHeading">{{ section.settings.locationHead }}</h3>
          <div class="locationRow">

            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when 'locations' -%}
                <div class="columnLocation">
                  <div class="locationCity">
                    <p class="locCity">{{ block.settings.cityname }}</p>
                    <p class="locContent">{{ block.settings.address }}
                    </p>
                    <p class="locContent">{{ block.settings.number }}</p>

                    <p class="locContent">{{ block.settings.email }}</p>
                  </div>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<script src="{{ 'pageTemplate.js' | asset_url }}" defer="defer"></script>


{% schema %}
  {
    "name": "Contact Us Temp",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Contact Us",
        "label": "Contact Us Page Heading"
      },
      {
        "type": "text",
        "id": "heading2",
        "default": "Order Inquiries",
        "label": "Order Inquiries Heading"
      },
      {
        "type": "richtext",
        "id": "inquiryPara1",
        "label": "Order Inquiries Para 1"
      },
      {
        "type": "richtext",
        "id": "inquiryPara2",
        "label": "Order Inquiries Para 2"
      }, {
        "type": "text",
        "id": "storetiming",
        "default": "CUSTOMER CARE TIMING",
        "label": "CUSTOMER CARE TIMING"
      }, {
        "type": "text",
        "id": "storetimingBtn",
        "default": "+966-336-12656594",
        "label": "Button Text"
      }, {
        "type": "text",
        "id": "storetimingUrl",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "locationHead",
        "default": "Loacation",
        "label": "Loacation Heading"
      }

    ],
    "blocks": [
      {
        "type": "timing",
        "name": "Add Store Timing",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "days",
            "label": "Days",
            "default": "Monday–Friday:"
          }, {
            "type": "text",
            "id": "timing",
            "label": "Brands Link",
            "default": "9am–7pm"
          }
        ]
      }, {
        "type": "locations",
        "name": "Add Store Locations",
        "limit": 8,
        "settings": [
          {
            "type": "text",
            "id": "cityname",
            "label": "City",
            "default": "Abu dhabi"
          }, {
            "type": "text",
            "id": "address",
            "label": "Address",
            "default": "1915 Bawabat Al Sharq lorem"
          }, {
            "type": "text",
            "id": "number",
            "label": "Phone",
            "default": "+1-000-0000"
          }, {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "info-nl@edit.com"
          }
        ]
      }
    ]
  }
{% endschema %}